@width: 100px;
@height: @width + 100px;

#header {
  width: @width;
  height: @height;
  background-color: red;
  .bordered();
}

.bordered {
  border-top: dotted 10px black;
  border-bottom: solid 20px black;
}

/*.nesting {
  background-color: red;
}

.nesting .novigation {
  font-size: 30px;
  color: green;
}

.nesting .logo {
  width: 300px;
  color: rgb(60, 0, 128);
  font-size: 20px;
} */

.nesting {
  background-color: red;
  .navigation {
    font-size: 30px;
  color: green;
  }
  .logo {
    width: 300px;
  color: rgb(60, 0, 128);
  font-size: 20px;
  }
}


@width90: 90%;
@width30: 30%;
@width100: 100%;
@height100: 100%;
@margin20px: 20px;

* {
margin: 0;
padding: 0;
}

.main {
  width: 80%;
  height: 300px;
  margin: auto;
  display: flex;
  border: 1px solid black;
}

.block1 {
  width: @width30;
  height: @height100;
  display: flex;
  align-items: center;
  justify-content: center;
}

.block1-inner {
  width: @width90;
  height: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
}

img {
width: @width90;
}

.block2-inner1{
 display: flex;
 align-items: center;
}

.block2-inner1-main {
  height: 40px;
  width: @width100;
  border: 1px solid blue;
  display: flex;
}

.block2-inner1-main1 {
  height: @height100;
  width: 40%;
  display: flex;
  align-items: center;
  background-color: rgb(146, 146, 219);
}

.block2-inner1-main2 {
  height: @height100;
  width: 60%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

p {
margin-left: 5px;
margin-right: 5px;
}


.block2 {
  width: 50%;
  height: @height100;
  display: flex;
  align-items: center;
  justify-content: center;
}

.block2-inner {
  width: @width90;
  height: 90%;
}

.block2-inner1 {
  width: @width100;
  height: 33%;
}

.block2-inner2 {
  width: @width100;
  height: 33%;
  display: flex;
  align-items: center;
  
}

.block2-inner3 {
  width: @width100;
  height: 34%;
  display: flex;
  align-items: center;
  font-size: 0.8rem;
}

.block3 {
  width: 20%;
  height: @height100;
  display: flex;
  justify-content: center;
  align-items: center;
}

.block3-inner {
  width: @width90;
  height: 90%;
  text-align: center;
}

.block3-inner-text {
  width: @width100;
  height: 33%;
  display: flex;
  align-items: center;
}

.block3-inner-text1 {
  width: @width100;
  height: 40px;
  background-color: blue;
  padding: 2px 0 2px 0;
  color: white;
  font-weight: bold;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 600px) {
  .main {
      flex-direction: column;
      height: auto;
  }

  .block1 {
  width: @width100;
}

  img {
height: 60%;
}

 .block2 {
  width: @width100;
  margin-top: 30px;
}

.block3 {
  width: @width100;
}

.block4 {
  width: @width100;
}

.block2-inner1-main {
margin-top: @margin20px;
margin-bottom: @margin20px;
}

.block2-inner2 {
margin-top: @margin20px;
margin-bottom: @margin20px;
}

.block2-inner3 {
margin-top: @margin20px;
margin-bottom: @margin20px;
}

.block3 {
margin-top: @margin20px;
margin-bottom: @margin20px;
}
}